{% extends 'base.html' %}

{% block title %}Profil{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <form class="" method="post" action="{% url 'profile' %}">
            {% if error %}
                <p class="text-danger">{{ error }}</p>
            {% endif %}
            {% csrf_token %}
            <label for="email" class="text-white mt-3">Email:</label>
            <input class="form-control bg-dark text-white" type="text" id="email" name="email" value="{{ lst.0 }}">
            <label for="gender" class="text-white mt-3">Jins:</label>
            <select class="form-control bg-dark text-white" name="gender" id="gender">
                {% if lst.1 == 'Ayol' %}
                    <option value="Ayol" selected>Ayol</option>
                {% elif lst.1 == 'Erkak' %}
                    <option value="Erkak" selected>Erkak</option>
                {% else %}
                    <option value="Erkak">Erkak</option>
                    <option value="Ayol">Ayol</option>
                {% endif %}
            </select>
            <label for="age" class="text-white mt-3">Yosh:</label>
            <input class="form-control bg-dark text-white" type="number" id="age" name="age" value="{{ lst.2 }}">
            <label for="phonenumber" class="text-white mt-3">Telfon Raqam:</label>
            <input class="form-control bg-dark text-white" type="text" id="phonenumber" name="phonenumber" value="{{ lst.3 }}">
            <button class="btn btn-primary mt-3" type="submit">Saqlash</button>
        </form>
    </div>
    <div class="col-6">

    </div>
</div>
{% endblock %}